<h2 class="my-5 text-primary">
  Consulter nos produits par catégorie
</h2>
  <section class="row text-center">
    <% categories.each do |cat| %>
      <div class="col-2 border border-2">

        <%= link_to category_path(cat), class: "text-decoration-none" do %>
          <div class="card">
            <%= cat.name %>
          </div>
        <% end %>
      </div>
    <% end %>
  </section>
