<h2>

</h2>

<section class="row g-0">
  <div class="col-md-4 col-12">
    <%= image_tag 'schweppes_ads.jpg', class: 'img-fluid' %>
  </div>
  <div class="col-md-4 col-12">
    <%= image_tag 'tenders_ads.jpg', class: 'img-fluid' %>
  </div>
  <div class="col-md-4 col-12">
    <%= image_tag 'huile_ads.jpg', class: 'img-fluid' %>
  </div>
</section>

  <div>
    <span>En ce moment</span>
  </div>
