<h2 class="mt-5 mb-3 text-danger">
  EN CE MOMENT CHEZ MAKHFOOD MARKET
</h2>

<div class="row">
  <div class="col-md-6 col-12">
    <section id="now-ads-section" class="carousel slide" data-bs-ride="carousel">

      <div class="carousel-inner ">

        <div class="carousel-item active">
          <%= image_tag 'schweppes_ads.jpg', class: 'd-block w-100 rounded-1' %>
        </div>
        <div class="carousel-item">
          <%= image_tag 'tenders_ads.jpg', class: 'd-block w-100 rounded-1' %>
        </div>
        <div class="carousel-item">
          <%= image_tag 'huile_ads.jpg', class: 'd-block w-100 rounded-1' %>
        </div>

      </div>

      <button class="carousel-control-prev" type="button" data-bs-target="#now-ads-section" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#now-ads-section" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>

    </section>
  </div>

  <div class="col-md-6 col-12">
  <div class="">
    <h3 class="mb-3 text-black text-center">Votre Partenaire Incontournable pour un Fast-Food de Qualité !</h3>
    <p>
      Chez Makhfood Market, nous savons que le secret d'un fast-food réussi réside dans la qualité des ingrédients. C'est pourquoi nous nous engageons à fournir aux professionnels comme vous les meilleurs produits du marché. De l'apéritif croustillant aux desserts irrésistibles, notre gamme complète est conçue pour satisfaire tous les goûts et tous les besoins.
    </p>
    <p>
      En nous suivant sur les réseaux sociaux, vous serez toujours au premier rang pour découvrir nos offres spéciales, nos nouveautés et nos conseils exclusifs pour rendre votre menu encore plus attractif. Notre équipe partage régulièrement des idées créatives et des astuces pour vous aider à vous démarquer et à attirer plus de clients.
    </p>
    <p class="text-center">
      Rejoignez notre communauté sur :
    </p>
    <div class="text-center">
      <a href="https://www.facebook.com/p/Makhfood-Market-100081304695006/rails s" class="btn btn-primary m-1"><i class="bi bi-facebook"></i> Facebook</a>
      <a href="https://www.instagram.com/makhfoodmarket" class="btn btn-danger m-1"><i class="bi bi-instagram"></i> Instagram</a>
      <a href="https://www.snapchat.com/add/makhfood84000" class="btn btn-warning m-1"><i class="bi bi-snapchat"></i> Snapchat</a>
    </div>

  </div>
</div>

<div class="col-12">
  <p class="mt-3 text-center">
      Avec Makhfood Market, donnez une nouvelle dimension à votre fast-food. Du fournisseur au partenaire de confiance, nous sommes là pour vous accompagner vers le succès. Votre prochain coup de maître en cuisine commence ici !
    </p>
</div>

</div>
