<section class="row g-0 justify-content-end">

  <div class="col-md-4 col-12">
    Ici notre rayon
  </div>
  <div class="col-md-8 col-12 d-flex">
      <%= image_tag 'rayon.jpeg', class: "img-fluid h-50 border border-primary-subtle border-5" %>
      <%= image_tag 'rayon 2.jpg', class: "img-fluid h-50 border border-primary-subtle border-5" %>
  </div>

</section>
