<div class="container mt-4 mb-4">
    <h1 class="text-center mb-3">Mentions Légales</h1>

    <section>
        <h2 class="mb-2">Éditeur du Site</h2>
        <p>MAKH FOOD MARKET, Société par Actions Simplifiée Unipersonnelle (SASU) au capital de 1 000,00 €, dont le siège social est situé au 39 RUE DES PAYS BAS, 84100 ORANGE, France. Immatriculée au Registre du Commerce et des Sociétés de Avignon sous le numéro B 884 636 101.</p>
        <p><strong>SIREN :</strong> 884636101</p>
        <p><strong>SIRET :</strong> 88463610100021</p>
        <p><strong>Numéro de TVA intracommunautaire :</strong> FR52884636101</p>
    </section>

    <section>
        <h2 class="mb-2">Contact</h2>
        <p>E-mail : <a href="mailto:contact@makhfoodmarket.fr" class="text-decoration-none">contact@makhfoodmarket.fr</a></p>
        <p>Téléphone : <a href="tel:+331618045086" class="text-decoration-none">06 18 04 50 86</a></p>
    </section>

    <section>
        <h2 class="mb-2">Hébergement du Site</h2>
        <p>Le site est hébergé par Heroku.</p>
    </section>

    <section>
        <h2 class="mb-2">Création du Site</h2>
        <p>Le site a été créé par l'agence web #1344. Pour toute question relative à la création du site, veuillez contacter <a href="mailto:adamlamouri.pro@gmail.com" class="text-decoration-none">adamlamouri.pro@gmail.com</a>.</p>
    </section>

    <section>
        <h2 class="mb-2">Conditions d’utilisation</h2>
        <p>L’utilisation du site https://www.makhfoodmarket.fr implique l’acceptation pleine et entière des conditions générales d’utilisation décrites ci-après. Ces conditions d’utilisation sont susceptibles d’être modifiées ou complétées à tout moment, les utilisateurs du site https://www.makhfoodmarket.fr sont donc invités à les consulter de manière régulière.</p>
    </section>

    <section>
        <h2 class="mb-2">Propriété intellectuelle</h2>
        <p>MAKH FOOD MARKET est propriétaire des droits de propriété intellectuelle ou détient les droits d’usage sur tous les éléments accessibles sur le site, notamment les textes, images, graphismes, logo, icônes, sons, logiciels. Toute reproduction, représentation, modification, publication, adaptation de tout ou partie des éléments du site, quel que soit le moyen ou le procédé utilisé, est interdite, sauf autorisation écrite préalable de : MAKH FOOD MARKET.</p>
    </section>

    <section>
        <h2 class="mb-2">Limitations de responsabilité</h2>
        <p>MAKH FOOD MARKET ne pourra être tenue responsable des dommages directs et indirects causés au matériel de l’utilisateur, lors de l’accès au site https://www.makhfoodmarket.fr, et résultant soit de l’utilisation d’un matériel ne répondant pas aux spécifications indiquées, soit de l’apparition d’un bug ou d’une incompatibilité. MAKH FOOD MARKET ne pourra également être tenue responsable des dommages indirects (tels par exemple qu’une perte de marché ou perte d’une chance) consécutifs à l’utilisation du site https://www.makhfoodmarket.fr.</p>
    </section>

    <section>
        <h2 class="mb-2">Gestion des données personnelles</h2>
        <p>Le client est informé des réglementations concernant la communication marketing, la loi du 21 Juin 2014 pour la confiance dans l’Économie Numérique, la Loi Informatique et Liberté du 06 Août 2004 ainsi que du Règlement Général sur la Protection des Données (RGPD : n° 2016-679).</p>
    </section>

    <section>
        <h2 class="mb-2">Droits d’accès et de rectification</h2>
        <p>Conformément à la législation européenne en vigueur, les utilisateurs de https://www.makhfoodmarket.fr disposent des droits suivants : droit d’accès (article 15 RGPD) et de rectification (article 16 RGPD), de mise à jour, de complétude des données des utilisateurs, droit de verrouillage ou d’effacement des données des utilisateurs à caractère personnel (article 17 du RGPD), droit de retirer un consentement à tout moment (article 13-2c RGPD), droit à la limitation du traitement des données des utilisateurs (article 18 RGPD), droit d’opposition au traitement des données des utilisateurs (article 21 RGPD).</p>
    </section>

    <section>
        <h2 class="mb-2">Contact pour l’exercice des droits</h2>
        <p>Pour toute demande d’exercice des droits des utilisateurs, MAKH FOOD MARKET met à disposition un contact unique <a href="mailto:contact@makhfoodmarket.fr" class="text-decoration-none">contact@makhfoodmarket.fr</a>.</p>
    </section>
</div>
