<div class="container mt-4 mb-4">
    <h1 class="text-center mb-3">Politique de Confidentialité</h1>

    <section>
        <h2 class="mb-2">Introduction</h2>
        <p>Chez MAKH FOOD MARKET, nous nous engageons à protéger la vie privée de nos clients. Cette politique de confidentialité vise à vous informer sur la manière dont nous collectons, utilisons, divulguons et protégeons les informations personnelles que vous nous fournissez via notre site web.</p>
    </section>

    <section>
        <h2 class="mb-2">Collecte des Données Personnelles</h2>
        <p>Nous collectons diverses informations lorsque vous utilisez notre site, notamment votre nom, adresse e-mail, adresse postale et numéro de téléphone. Ces informations sont collectées via des formulaires de contact, des abonnements à notre newsletter ou lors de commandes passées sur notre site.</p>
    </section>

    <section>
        <h2 class="mb-2">Utilisation des Données</h2>
        <p>Vos données personnelles sont utilisées pour traiter vos commandes, communiquer avec vous, améliorer votre expérience utilisateur, et, si vous l'avez accepté, pour vous envoyer des informations commerciales. Nous nous engageons à ne pas vendre, louer ou transférer vos données personnelles à des tiers sans votre consentement, sauf obligation légale.</p>
    </section>

    <section>
        <h2 class="mb-2">Cookies et Technologies de Suivi</h2>
        <p>Notre site utilise des cookies pour améliorer votre expérience de navigation, analyser le trafic du site et mesurer l'efficacité des campagnes publicitaires. Vous avez la possibilité de gérer vos préférences de cookies via les paramètres de votre navigateur.</p>
    </section>

    <section>
        <h2 class="mb-2">Sécurité des Données</h2>
        <p>Nous prenons des mesures de sécurité appropriées pour protéger vos données personnelles contre l'accès non autorisé, la modification, la divulgation ou la destruction. Ces mesures incluent des protocoles de sécurité informatique et un cryptage des données sensibles.</p>
    </section>

    <section>
        <h2 class="mb-2">Vos Droits</h2>
        <p>Conformément à la réglementation en vigueur, vous disposez d'un droit d'accès, de rectification, de suppression et de portabilité de vos données personnelles, ainsi que d'un droit d'opposition et de limitation à leur traitement. Vous pouvez exercer ces droits en nous contactant à <a href="mailto:contact@makhfoodmarket.fr">contact@makhfoodmarket.fr</a>.</p>
    </section>

    <section>
        <h2 class="mb-2">Modifications de la Politique de Confidentialité</h2>
        <p>Cette politique de confidentialité peut être mise à jour périodiquement. Nous vous recommandons de la consulter régulièrement pour prendre connaissance des éventuelles modifications.</p>
    </section>

    <section>
        <h2 class="mb-2">Contact</h2>
        <p>Pour toute question relative à cette politique de confidentialité, veuillez nous contacter par e-mail à <a href="mailto:contact@makhfoodmarket.fr">contact@makhfoodmarket.fr</a> ou par téléphone au 06 18 04 50 86.</p>
    </section>
</div>
