<h1 class="text-center text-danger my-5">
  Devis Envoyé avec succès
</h1>

<p class="text-center">
  Votre devis a bien été envoyé.
</p>

<div class="text-center">
  <%= link_to 'REVENIR A L\'ACCUEIL', root_path, class: "btn btn-danger" %>
</div>
