<section class="d-flex justify-content-around bg-primary text-bg-primary p-1 flex-wrap">
  <span class="text-center">
     | Grossiste alimentation et boisson pour particuliers et professionnels |
  </span>

  <span class="text-center">
    | Ouvert du Lundi au samedi |
  </span>

  <span class="text-center">
    | 39 Rue des Pays Bas, 84100 Orange |
  </span>

  <span class="text-center">
    | 06 18 04 50 86 |
  </span>
</section>
