<section id="info-bar" class="text-bg-danger row fw-bold text-center gx-0 align-items-center">
    <div class="col-12 col-md-3">
      <i class="bi bi-basket3-fill"></i> Grossiste alimentation et boisson pour particuliers et professionnels
    </div>
    <div class="col-12 col-md-3">
      <i class="bi bi-clock-fill"></i> Ouvert du Lundi au samedi
    </div>
    <div class="col-12 col-md-3">
      <i class="bi bi-geo-alt-fill"></i> 39 Rue des Pays Bas, 84100 Orange
    </div>
    <div class="col-12 col-md-3">
      <i class="bi bi-telephone-fill"></i> 06 18 04 50 86
    </div>
</section>
