<div class="row my-5 text-center">
  <div class="col-12 col-md-4 my-3">
    <%= link_to 'Ajouter un Produit', new_product_path %>
  </div>

  <div class="col-12 col-md-4 my-3">
    <%= link_to 'Ajouter une Marque', new_brand_path %>
  </div>

  <div class="col-12 col-md-4 my-3">
    <%= link_to 'Ajouter une Catégorie', new_category_path %>
  </div>

</div>
