<section class="container my-4">
  <h2 class="text-center my-3">Makhfood Market</h2>
  <div class="row">
    <div class="col-md-6">
      <label for="adress" class="form-label">Adresse :</label>
      <p class="form-control-plaintext">39 Rue des Pays Bas, 84100 Orange</p>
    </div>
    <div class="col-md-6">
      <label for="hours" class="form-label">Horaires:</label>
      <ul class="list-group">
        <li class="list-group-item">Lundi 08:00–12:00, 14:00–18:00</li>
        <li class="list-group-item">Mardi 08:00–12:00, 14:00–18:00</li>
        <li class="list-group-item">Mercredi 08:00–12:00, 14:00–18:00</li>
        <li class="list-group-item">Jeudi 08:00–12:00, 14:00–18:00</li>
        <li class="list-group-item">Vendredi 08:00–12:00, 14:00–18:00</li>
        <li class="list-group-item">Samedi 08:00–12:00, 14:00–19:00</li>
        <li class="list-group-item">Dimanche Fermé</li>
      </ul>
    </div>
  </div>
</section>
