<h1 class="my-5 text-center">
  Tous les produits
  <% if @q && @q.conditions.any? %>
    correspondant à "<%= @q.conditions.map(&:value).join(", ") %>"
  <% end %>
</h1>

<h2 class="text-center">
  <%= @products.length %> produits
</h2>
<div class="collapse navbar-collapse" id="navbarScroll">


  <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
    <li class="nav-item">
      <a class="nav-link active" aria-current="page" href="#">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Link</a>
    </li>
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
        Link
      </a>
      <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="#">Action</a></li>
        <li><a class="dropdown-item" href="#">Another action</a></li>
        <li><hr class="dropdown-divider"></li>
        <li><a class="dropdown-item" href="#">Something else here</a></li>
      </ul>
    </li>
    <li class="nav-item">
      <a class="nav-link disabled" aria-disabled="true">Link</a>
    </li>
  </ul>

</div>

<div class="row justify-content-center">

  <div class="container col-4 justify-content-center d-none d-lg-block">
    <%= render 'layouts/index/filter', q: @q, categories: @categories, brands: @brands %>
  </div>

  <div class="container col-8 text-center">
   <%= render 'layouts/index/products', products: @products %>
  </div>

</div>
