
  <h1 class="my-5 text-center">Tous les produits</h1>

  <div class="container text-center">

    <div class="row row-cols-4">
      <% @products.each do |product| %>

        <%= link_to product_path(product) do %>
          <div class="col">

            <div class="card">
              <% if product.link %>
                <%= image_tag product.link, width: 200, class: 'card-img-top' %>
              <% end %>
              <div class="card-body">
                <p class="card-text"><%= product.name %></p>
              </div>
            </div>

          </div>
        <% end %>

      <% end %>
    </div>

  </div>
