<h1 class="my-5 text-center text-primary">
  Tous les produits
  <% if @q && @q.conditions.any? %>
    correspondant à "<%= @q.conditions.map(&:value).join(", ") %>"
  <% end %>
</h1>

<%= render 'layouts/index/all', q: @q, categories: @categories, brands: @brands, products: @products %>
